{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="grid place-items-center h-screen p-2 m-2 rounded border bg-gray-100 text-gray-800 font-bold">
  <form method="POST">
    {% csrf_token %}
   <h1 class="font-bold text-3xl text-center p-2 m-2">Log In to your account</h1>
   <div class="grid grid-cols-2 gap-4">
   <input class="col-span-2 p-2 m-2 "  type="text" name="username" placeholder="Enter Username" required/>
   <input class="col-span-2 p-2 m-2 " type="password" name="password" placeholder="Enter Password" required/>
   </div>
 <p class="p-2 m-2 text-gray-600 font-semibold">Forgot password? Click <a class="text-blue-500 hover:text-blue-800" href="#">here</a></p>
   <button class="p-2 m-2 font-bold bg-gray-700 text-white hover:bg-gray-900 rounded " type="submit">Log In</button>
 </form> 
    </div>
  </body>
</html>
