{%load static%}
  <nav class="flex justify-between p-2 bg-gray-100">
  <div class="flex justify-start">
    <ul class="flex justify-start p-2">
      <li><input type="image" class="min-h-full p-2 collapsible" src="{% static 'images/list.svg'%}" alt="Menu"/></li>
          </ul>
          <a href="{% url 'home' %}"><img src="{% static 'images/media.svg'%}" class="h-14 p-2" alt="logo" /></a>
  </div>
  <form class="flex justify-end" action="http://127.0.0.1:8000/search" onsubmit="location.href = document.getElementById('f1').value + 
    document.getElementById('searched').value; return false"> 
  <input type="text" id="searched" placeholder="Search" class="rounded p-2 my-1"/>
  <input type="image" class="max-h-14 p-2" id="submit-btn" src="{% static 'images/search.svg'%}" alt="Search"/>
  <input type=hidden id=f1 name=f1 value="http://127.0.0.1:8000/search/">
  </form>
 </nav> 
 <div class="hidden bg-gray-100 p-2 font-bold" id="hiddenEl">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>  
        <li><a href="#">Explore</a></li>  
      <li><a href="#">Subscriptions</a></li>  
      <li><a href="#">Playlists</a></li>  
      {% if user.is_authenticated %}
      <li><a href="{% url 'create_video' %}">Create</a></li>  
      <li><a href="{% url 'logout' %}">Logout</a></li>  
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>  
      <li><a href="{% url 'register' %}">Register</a></li>  
      {% endif %}
      </ul>
 </div>
