{% extends 'base.html' %}
{% load hitcount_tags %}
{%load static%}
{% block title %}
Video Player
{% endblock title %}
{% block content %}
<div class="flex p-2 m-2">
  <div>
      <video width="1280" height="720" controls autoplay muted>
        <source src="{{video.footage.url}}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <h2 class="p-1 m-1 font-bold text-3xl text-gray-800">{{video.title}}</h2>
    <p class="px-1 mx-1 text-gray-600">{% get_hit_count for video %} views</p>
    <h5 class="px-1 m-1 font-bold text-l text-gray-600"><a href="{% url 'detail' video.uploader.username %}">{{video.uploader}}</a></h5>

     <div class="grid grid-cols-2" style="max-width:720px;">
     <p class="px-1 mx-1 col-span-2 text-gray-600">{{video.published}}</p>
     <p class="px-1 mx-1 col-span-2 text-gray-600"><span class="font-semibold">Description:</span> {{video.description}}</p>
      </div>
     <div class="flex">
       <button class="p-2 m-2 rounded bg-gray-200 border text-gray-600"><a href="{% url 'like_video' video.slug %}">{{video.likes}} likes</a></button>
       {% if user == video.uploader %}
       <button class="p-2 m-2 rounded bg-red-600 border text-white font-bold"><a href="{% url 'delete_video' video.slug %}">Delete</a></button>
       {% endif %}
     </div>
     <h3 class="font-bold text-xl text-gray-800"><a href="{% url 'comments' video.slug %}">{{comments_num}} Comments</a></h3>
  </div>

<div class="bg-gray-200 m-2 rounded">
<h3 class="font-bold col-span-2 text-3xl p-2 m-2 text-gray-700 text-center">Suggested videos</h3>  
<div class="p-2 m-2">

{% for suggested_video in suggested_videos %}
<div class="p-2 m-2 bg-gray-100 rounded ">
  <a href="{% url 'video_player' suggested_video.slug %}"><img src="{{suggested_video.thumbnail.url}}" class="col-span-2  max-h-36 p-2 m-2 " alt=""></a>
<h4 class="font-bold text-xl text-gray-800">{{suggested_video.title}}</h4>
<h5 class="font-bold text-l text-gray-600">{{suggested_video.uploader}}</h5>
</div>
{% endfor %}

</div>
</div>
</div>
{% endblock content %}
